
<p>
  <strong>Place Name:</strong>
  <%= @place.place_name %>
</p>
<p>
  <strong>Place Address:</strong>
  <%= @place.address %>
</p>
<p>
  <strong>Team Name:</strong>
  <%= @place.user.name %>
</p>

